DataTable {
    height: 1fr;
}
DataTable:blur > .datatable--cursor {
    color: $text;
}
DataTable:focus > .datatable--cursor {
    background: $accent;
    color: $text;
}
LoadingIndicator {
    display: none;
}
#comments {
    display: none;
    layer: overlay;
    width: 100%;
    height: 100%;
    margin: 3 3 3 3;
    background: $surface;
    border: thick $accent;
    padding: 1 2;
}
